// $color_1: white;
// $color_2: inherit;
// $background-color_1: black;
// $background-color_2: rgba(100, 100, 100, 0.5);
// $background-color_3: rgb(150, 150, 150);
// $background-color_4: red;

// .player {
//   position: relative;
// width: 90%;
// max-width: 1250px;
// display: flex;
// justify-content: center;
// margin-inline: 5%;
//   background-color: $background-color_1;
//   &:hover {
//     .playerControlsContainer {
//       opacity: 1;
//     }
//     &:focus-within {
//       .playerControlsContainer {
//         opacity: 1;
//       }
//     }
//   }

//   &:not(.paused) {
//     .playIcon {
//       display: none;
//     }
//   }
//   &:not(.theater) {
//     .wide {
//       display: none;
//     }
//   }
//   &:not(.fullScreen) {
//     .close {
//       display: none;
//     }
//   }
// }
// .player:not(.theater) {
//   position: absolute;
//   width: 60vw;
//   margin-top: 1%;
// }
// .player.theater {
//   max-width: initial;
//   width: 100%;
//   max-height: 90vh;
//   margin-inline: auto;
//   .tall {
//     display: none;
//   }
// }
// .player.fullScreen {
//   max-width: initial;
//   width: 100%;
//   max-height: 100vh;
//   .open {
//     display: none;
//   }
// }
// video {
//   width: 100%;
// }
// .playerControlsContainer {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   color: $color_1;
//   z-index: 100;
//   opacity: 0;
//   transition: opacity 150ms ease-in-out;
//   &::before {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
//     width: 100%;
//     aspect-ratio: 6 / 1;
//     z-index: -1;
//     pointer-events: none;
//   }
//   .controls {
//     display: flex;
//     gap: 0.5rem;
//     padding: 0.25rem;
//     align-items: center;
//     button {
//       background: none;
//       border: none;
//       color: $color_2;
//       padding: 0;
//       height: 30px;
//       width: 30px;
//       font-size: 1.1rem;
//       cursor: pointer;
//       opacity: 0.85;
//       transition: opacity 150ms ease-in-out;
//       &:hover {
//         opacity: 1;
//       }
//     }
//     button.wideBtn {
//       width: 50px;
//     }
//   }
// }
// .player.paused {
//   .playerControlsContainer {
//     opacity: 1;
//   }
//   .pauseIcon {
//     display: none;
//   }
// }
// .volumeHighIcon {
//   display: none;
// }
// .volumeLowIcon {
//   display: none;
// }
// .volumeMutedIcon {
//   display: none;
// }
// .player[data-volume-level="high"] {
//   .volumeHighIcon {
//     display: block;
//   }
// }
// .player[data-volume-level="low"] {
//   .volumeLowIcon {
//     display: block;
//   }
// }
// .player[data-volume-level="muted"] {
//   .volumeMutedIcon {
//     display: block;
//   }
// }
// .volumeContainer {
//   display: flex;
//   align-items: center;
//   &:hover {
//     .volumeSlider {
//       width: 100px;
//       transform: scaleX(1);
//     }
//   }
// }
// .volumeSlider {
//   width: 0;
//   transform-origin: left;
//   transform: scaleX(0);
//   transition: width 150ms ease-in-out, transform 150ms ease-in-out;
//   &:focus-within {
//     width: 100px;
//     transform: scaleX(1);
//   }
// }
// .durationContainer {
//   display: flex;
//   align-items: center;
//   gap: 0.25rem;
//   flex-grow: 1;
// }
// .timelineContainer {
//   height: 7px;
//   margin-inline: 0.5rem;
//   cursor: pointer;
//   display: flex;
//   align-items: center;
//   &:hover {
//     .previewImg {
//       display: block;
//     }
//     .timeline {
//       &::before {
//         display: block;
//       }
//       height: 100%;
//     }
//     .thumbIndicator {
//       --scale: 1;
//     }
//   }
// }
// .timeline {
//   background-color: $background-color_2;
//   height: 3px;
//   width: 100%;
//   position: relative;
//   &::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     right: calc(100% - var(--preview-position) * 100%);
//     background-color: $background-color_3;
//     display: none;
//   }
//   &::after {
//     content: "";
//     position: absolute;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     right: calc(100% - var(--progress-position) * 100%);
//     background-color: $background-color_4;
//   }
//   .thumbIndicator {
//     --scale: 0;
//     position: absolute;
//     transform: translateX(-50%) scale(var(--scale));
//     height: 200%;
//     top: -50%;
//     left: calc(var(--progress-position) * 100%);
//     background-color: $background-color_4;
//     border-radius: 50%;
//     transition: transform 150ms ease-in-out;
//     aspect-ratio: 1 / 1;
//   }
//   .previewImg {
//     position: absolute;
//     height: 80px;
//     aspect-ratio: 16 / 9;
//     top: -1rem;
//     transform: translate(-50%, -100%);
//     left: calc(var(--preview-position) * 100%);
//     border-radius: 0.25rem;
//     border: 2px solid white;
//     display: none;
//   }
// }
// .thumbnailImg {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   display: none;
// }
// .player.scrubbing {
//   .thumbnailImg {
//     display: block;
//   }
//   .previewImg {
//     display: block;
//   }
//   .timeline {
//     &::before {
//       display: block;
//     }
//     height: 100%;
//   }
//   .thumbIndicator {
//     --scale: 1;
//   }
// }

$color_1: white;
$color_2: inherit;
$background-color_1: black;
$background-color_2: rgba(100, 100, 100, 0.5);
$background-color_3: rgb(150, 150, 150);
$background-color_4: #4caf50;

.video-container {
  position: relative;
  width: 90%;
  max-width: 1250px;
  display: flex;
  justify-content: center;
  margin-inline: 5%;
  background-color: $background-color_1;
  &:hover {
    .video-controls-container {
      opacity: 1;
    }
  }
  &:focus-within {
    .video-controls-container {
      opacity: 1;
    }
  }
  &:not(.paused) {
    .play-icon {
      display: none;
    }
  }
  &:not(.theater) {
    .wide {
      display: none;
    }
  }
  &:not(.full-screen) {
    .close {
      display: none;
    }
  }
}
.video-container:not(.theater) {
  position: absolute;
  width: 60vw;
  margin-top: 1%;
}
.video-container.theater {
  max-width: initial;
  width: 90%;
  max-height: 80vh;
  .tall {
    display: none;
  }
}
.video-container.full-screen {
  max-width: initial;
  width: 100%;
  max-height: 100vh;
  .open {
    display: none;
  }
}
video {
  width: 100%;
}
.video-controls-container {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  color: $color_1;
  z-index: 100;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
  }
  .controls {
    display: flex;
    gap: 0.5rem;
    padding: 0.25rem;
    align-items: center;
    button {
      background: none;
      border: none;
      color: $color_2;
      padding: 0;
      height: 30px;
      width: 30px;
      font-size: 1.1rem;
      cursor: pointer;
      opacity: 0.85;
      transition: opacity 150ms ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
    button.wide-btn {
      width: 50px;
    }
  }
}
.video-container:hover {
  .video-controls-container {
    opacity: 1;
  }
}
.video-container.paused {
  .video-controls-container {
    opacity: 1;
  }
  .pause-icon {
    display: none;
  }
}
.volume-high-icon {
  display: none;
}
.volume-low-icon {
  display: none;
}
.volume-muted-icon {
  display: none;
}
.video-container[data-volume-level="high"] {
  .volume-high-icon {
    display: block;
  }
}
.video-container[data-volume-level="low"] {
  .volume-low-icon {
    display: block;
  }
}
.video-container[data-volume-level="muted"] {
  .volume-muted-icon {
    display: block;
  }
}
.volume-container {
  display: flex;
  align-items: center;
  &:hover {
    .volume-slider {
      width: 100px;
      transform: scaleX(1);
    }
  }
}
.volume-slider {
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
  // background-color: $background-color_4;
  height: 3.5px;
  &:focus-within {
    width: 100px;
    transform: scaleX(1);
  }
}

.duration-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-grow: 1;
}
.video-container.captions {
  .captions-btn {
    border-bottom: 3px solid #4caf50;
  }
}
.timeline-container {
  height: 7px;
  margin-inline: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    .preview-img {
      display: block;
      opacity: 0;
    }
    .timeline {
      &::before {
        display: block;
      }
      height: 100%;
    }
    .thumb-indicator {
      --scale: 1;
    }
  }
}
.timeline {
  background-color: $background-color_2;
  height: 3px;
  width: 100%;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: $background-color_3;
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: $background-color_4;
  }
  .thumb-indicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: $background-color_4;
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
  }
  .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: 0.25rem;
    border: 2px solid white;
    display: none;
    opacity: 0;
  }
}
.thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
}
.video-container.scrubbing {
  .thumbnail-img {
    display: block;
  }
  .preview-img {
    display: block;
  }
  .timeline {
    &::before {
      display: block;
    }
    height: 100%;
  }
  .thumb-indicator {
    --scale: 1;
  }
}

@media (max-width: 1400px) {
  .video-container:not(.theater) {
    width: 55vw;
  }
}

@media (max-width: 1200px) {
  .video-container:not(.theater) {
    position: relative;
    max-width: initial;
    width: 90%;
    max-height: 80vh;
  }
}
