.premium {
  width: 100%;
  margin-left: -10px;
}

.description {
  display: flex;
  flex-direction: column;
  z-index: 10;

  padding-top: 50px;
  background: #1d75de;

  .container {
    max-width: 60vw;
    margin-left: 7%;
  }

  .title {
    color: #fff;
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .desc {
    color: #fff;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .buttons {
    .btn {
      cursor: pointer;
      margin-right: 30px;
    }

    padding-bottom: 100px;
  }

  .btn {
    border: none;
    border-radius: 100px;

    color: #fff;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 900;

    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .btnDark {
    padding-right: 40px;
    padding-left: 40px;
    background: #0f0f0f;
  }

  .btnTransparent {
    background: transparent;
    border-radius: 100px;
    border: 3px solid #fff;
  }
}

.why {
  background: #fff;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: #0f0f0f;
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 61px;
  }

  .opportunity {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .opportunities {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    padding-bottom: 70px;
  }

  .opportunityTitle {
    color: #000;
    font-family: "Montserrat";
    font-size: 21px;
    font-weight: 700;
  }
}

.feel {
  background: #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: #0f0f0f;
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
  }

  p {
    color: #000;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 400;
    opacity: 0.87;
    margin-bottom: 36px;
  }
}

@media (max-width: 1120px) {
  .opportunity {
    img {
      width: 100px;
      height: 100px;
    }
  }

  .why {
    .opportunityTitle {
      font-size: 18px;
    }
  }
}

@media (max-width: 1000px) {
  .description,
  .why,
  .feel {
    .title {
      font-size: 35px;
    }
  }

  .description {
    .desc {
      font-size: 18px;
    }

    .btn {
      font-size: 15px;
    }
  }

  .why {
    .opportunities {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .opportunity {
      flex-direction: row;
    }
  }

  .opportunity {
    max-width: 40%;
    img {
      margin-right: 10px;
    }

    margin-bottom: 70px;
  }
}

@media (max-width: 735px) {
  .description {
    overflow: hidden;
    .buttons {
      .btn {
        width: 87vw;
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 600px) {
  .why {
    .opportunities {
      flex-direction: column;
    }

    .opportunity {
      max-width: none;
    }
  }

  .description,
  .why,
  .feel {
    .title {
      font-size: 25px;
    }
  }

  .description {
    .desc {
      font-size: 14px;
    }
  }

  .why {
    .opportunityTitle {
      font-size: 14px;
    }
  }

  .opportunity {
    margin-bottom: 30px;

    img {
      width: 80px;
      height: 80px;
    }
  }

  .feel {
    p {
      font-size: 14px;
    }
  }
}
