@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('./Montserrat/Montserrat-ExtraBold.ttf');
    font-weight: 800;
}